.App{
  margin-top: 20px;
  
}
.container{
  display: flex;
  
}


.clasico:active{

  background-color: rgba(0, 0, 0, 0.603);
}


.boton {
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
  cursor: pointer;

}

.formato {
  display: inline-block;
  margin: 10px;
}

.img.fotoModal {
  display: flex;
  align-items: center;
  width: 100px , 100px;
}

.contenedor {
  margin: auto;
  display: flex;
  justify-content: center;
  padding:5px;


}
.marcoprecio{
  display:flex;
  margin-top: 10px;
}

.button-size{
  border-color:black;
 /* padding: 10px; */
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}


.vertamanyo{
  text-align: center;
}



.iconcompra{
  margin-left: 10px;
  
}

.img-card{
  height: 100%;
  border-radius: 5px;
  
}
.estilocard{
  margin: 10px;
  justify-content: center;
  
 
}
.card-container{
  display:flex;
  height: 250px;
 

}

.image-card{
  width: 100%;
  object-fit: cover;
}
.btn-formatos{
  margin: 5px;
}
.btn-formato{
text-align: center;
}

.structure-format{
  text-align: center;
}
